{% extends '../base.html.twig' %}

{% block body %}
    {% embed '../partials/home-banner.html.twig' with {'title':dict.login } %} {% endembed %}
    <div class="container">
        <div class="row ">

            <div class="col-lg-9">
                <div class="text-center">
                    <h2>{{ dict.login }}</h2>
                </div>
                <div class="sky-color-separator"></div>
                <form method="post" enctype="multipart/form-data" class="w-50" action="/login">
                    {% if error %}
                        <h2 class="alert alert-danger">{{ error }}</h2>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">{{ dict.username }} / {{ dict.email }}?</label>
                        <input autofocus name="username" id="username" required type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">{{ dict.password }}</label>
                        <input name="password" id="password" required type="password" class="form-control">
                    </div>
                    <div class="sky-color-separator"></div>
                    <div class="form-group">
                        <input type="checkbox" name="rememberMe" id="rememberMe">
                        <label for="rememberMe">{{ dict.rememberMe }}?</label>
                    </div>
                    <div class="sky-color-separator"></div>

                    {% embed '../partials/csrf.twig' %} {% endembed %}

                    <div >
                        <button type="submit" class="btn btn-primary">{{ dict.login }}</button>
                    </div>
                </form>
            </div>
            {% embed '../partials/sidebar/sidebar.html.twig' %}
                {% block sidebarBody %}
                    {% embed '../partials/sidebar/categories.html.twig' with {'title':dict.categories, 'categories':informer.getCategoriesToDisplay } %} {% endembed %}
                    {% embed '../partials/sidebar/products.html.twig' with {'products':informer.getNewProducts, 'title':dict.newProducts} %} {% endembed %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}