<form method="post" enctype="multipart/form-data" action="/brands/create">
    <div class="form-group">
        <label for="brandName">{{ dict.brandName }}</label>
        <input type="text" maxlength="20" required class="form-control" name="brandName" id="brandName">
        <p class="text-danger">{{ util.getError('brandName') }}</p>
    </div>
    <div class="form-group">
        <label for="brandImage">{{ dict.image }}</label>
        <input type="file" required class="form-control" name="file" id="brandImage">
        <p class="text-danger">{{ util.getError('file') }}</p>
    </div>
    {% embed '../../partials/csrf.twig' %} {% endembed %}
    <button type="submit" class="btn btn-dark">{{ dict.go }}</button>
</form>