<form method="post" enctype="multipart/form-data" action="/brands/edit/{{ brand.brandName }}">
    <div class="form-group">
        <label for="brandName">{{ dict.brandName }}</label>
        <input type="text" maxlength="20" required class="form-control" value="{{ brand.brandName }}" name="brandName" id="brandName">
        <p class="text-danger">{{ util.getError('brandName') }}</p>
    </div>
    <div style="max-width: 400px;">
        <img src="{{ brand.image }}" width="100%" id="imgPrev">
    </div>
    <div class="form-group">
        <label for="image-file">{{ dict.image }}</label>
        <input type="file" class="form-control" name="file" id="image-file">
        <p class="text-danger">{{ util.getError('file') }}</p>
    </div>
    {% embed '../../partials/csrf.twig' %} {% endembed %}
    <button type="submit" class="btn btn-dark">{{ dict.go }}</button>
</form>

<script>
    $(function () {
        var imgPrev = $('#imgPrev');

        document.getElementById("image-file").onchange = function (event) {
            readUrl(this);
        };

        function readUrl(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                   imgPrev.attr('src', e.target['result']);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    });
</script>