<div class="">
    <h3 class="font-weight-bold">Address:</h3>
    <p>Mladost:2, block 11, entry: 1</p>
    <hr>
    <h3 class="fat-text">Ask us anything</h3>
    <br>
    <form class="" method="post" action="/contacts/ask">
        <div class="form-group">
            <input value="{{ bindingModel.fullName }}" required type="text" class="form-control" maxlength="50" placeholder="Name *" name="fullName" id="name" aria-invalid="false">
            <p class="text-danger">{{ util.getError('fullName') }}</p>
        </div>
        <div class="form-group">
            <input value="{{ bindingModel.phoneNumber }}" type="tel" class="form-control" maxlength="15" placeholder="Phone number *" name="phoneNumber" id="phone" required="" aria-invalid="false">
            <p class="text-danger">{{ util.getError('phoneNumber') }}</p>
        </div>
        <div class="form-group">
            <textarea class="form-control" style="height: 132px;" placeholder="Your question *" id="message" name="message" required="" aria-invalid="false">{{ bindingModel.message }}</textarea>
            <p class="text-danger">{{ util.getError('message') }}</p>
        </div>
        {% embed '../../csrf.twig' %} {% endembed %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary fat-text yellow-ish-background">
                Send!
            </button>
        </div>
    </form>
</div>