<div class="">
    <h3 class="font-weight-bold">Адрес:</h3>
    <p>ЖК: Младост-2, Йордан Радичков 16</p>
    <hr>
    <h3 class="fat-text">Изпратете бързо запитване</h3>
    <br>
    <form class="" method="post" action="/contacts/ask">
        <div class="form-group">
            <input value="{{ bindingModel.fullName }}" required type="text" class="form-control" maxlength="50" placeholder="Вашето име *" name="fullName" id="name" aria-invalid="false">
            <p class="text-danger">{{ util.getError('fullName') }}</p>
        </div>
        <div class="form-group">
            <input value="{{ bindingModel.phoneNumber }}" type="tel" class="form-control" maxlength="15" placeholder="Вашия тел. номер *" name="phoneNumber" id="phone" required="" aria-invalid="false">
            <p class="text-danger">{{ util.getError('phoneNumber') }}</p>
        </div>
        <div class="form-group">
            <textarea class="form-control" style="height: 132px;" placeholder="Вашето запитване *" id="message" name="message" required="" aria-invalid="false">{{ bindingModel.message }}</textarea>
            <p class="text-danger">{{ util.getError('message') }}</p>
        </div>
        {% embed '../../csrf.twig' %} {% endembed %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary fat-text yellow-ish-background">
                Изпращане!
            </button>
        </div>
    </form>
</div>