{% extends '../index.twig' %}

{% block title %}Edit Product {{ product.id }}{% endblock %}

{% block workerBody %}
    <div>
        <h3 class="text-info">{{ dict.product ~ ': ' ~ dict.edit }}</h3>
        <a href="/worker-panel">{{ dict.back }}</a>
        <hr class="hr-dark">
    </div>

    <div class="">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="productName">{{ dict.name }} <span class="text-danger">*</span> </label>
                <input value="{{ product.productName }}" maxlength="100" id="name" placeholder="{{ dict.name }}"
                       name="productName" required type="text" class="form-control">
                <p class="text-danger">{{ util.getError('productName') }}</p>
            </div>
            <div class="form-group">
                <label for="price">{{ dict.price }} <span class="text-danger">*</span></label>
                <input value="{{ product.price }}" id="price" placeholder="0" name="price" required type="number"
                       step="any" class="form-control">
                <p class="text-danger">{{ util.getError('price') }}</p>
            </div>
            <div class="form-group">
                <label for="quantity">{{ dict.quantity }} <span class="text-danger">*</span></label>
                <input value="{{ product.quantity }}" id="quantity" placeholder="0" name="quantity" required
                       type="number" step="1" class="form-control">
                <p class="text-danger">{{ util.getError('quantity') }}</p>
            </div>
            <div class="form-group">
                <label for="description">{{ dict.description }} </label>
                <textarea id="description" placeholder="{{ dict.description }}" name="description"
                          class="form-control">{{ product.description }}</textarea>
                <p class="text-danger">{{ util.getError('description') }}</p>
            </div>
            <div class="form-group">
                <label for="size">{{ dict.size }}</label>
                <input value="{{ product.size }}" maxlength="20" id="size" placeholder="{{ dict.size }}" name="size"
                       type="text" class="form-control">
                <p class="text-danger">{{ util.getError('size') }}</p>
            </div>
            <div class="form-group">
                <label for="file">{{ dict.image }} <span class="text-danger">*</span>TODO preview</label>
                <input id="file" placeholder="file" name="file" type="file" class="form-control">
                <p class="text-danger">{{ util.getError('file') }}</p>
            </div>
            <div class="form-group">
                <label for="isEnabled">{{ dict.isEnabled }}</label>
                <input {% if product.isEnabled %}checked{% endif %} id="isEnabled" placeholder="isEnabled"
                       name="enabled" type="checkbox">
                <p class="text-danger">{{ util.getError('isEnabled') }}</p>
            </div>
            <div class="form-group">
                <label for="brand">{{ dict.brand }} <span class="text-danger">*</span></label>
                <select id="brand" name="brand" required class="form-control">
                    <option disabled selected value>{{ dict.select }}</option>
                    {% for brand in viewModel.brands %}
                        <option value="{{ brand.id }}" {% if product.brand.id == brand.id %} selected {% endif %}>{{ brand.brandName }}</option>
                    {% endfor %}
                </select>
                <p class="text-danger">{{ util.getError('brand') }}</p>
            </div>
            <div class="form-group">
                <label for="category">{{ dict.category }} <span class="text-danger">*</span></label>
                <select id="category" name="category" required class="form-control">
                    <option disabled selected value>{{ dict.select }}</option>
                    {% for category in viewModel.categories %}
                        <option value="{{ category.id }}" {% if product.category.id == category.id %} selected {% endif %}>{{ util.getLocalCategoryName(category) }}</option>
                    {% endfor %}
                </select>
                <p class="text-danger">{{ util.getError('category') }}</p>
            </div>
            {% embed '../../partials/csrf.twig' %} {% endembed %}
            <button type="submit" class="btn btn-dark">{{ dict.go }}</button>
            {% if product.isEnabled %}
                <a href="/products/hide/{{ product.id }}"
                   class="btn btn-danger btn-outline-danger">{{ dict.disable }}</a>
            {% else %}
                <a href="/products/show/{{ product.id }}"
                   class="btn btn-success btn-outline-success">{{ dict.enable }}</a>
            {% endif %}

            <!--<div class="form-group">
            <label for=""></label>
            <input value="" id="" placeholder="" name="" required type="" class="form-control">
            {#<p class="text-danger">{{ util.getError('') }}</p>#}
            </div>-->
        </form>
    </div>
    <div>
        <h3 class="text-info">{{ dict.gallery }}</h3>
        <hr class="hr-dark">
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if product.gallery|length > 0 %}
                <div class="d-flex flex-wrap align-items-center justify-content-around gallery-images-holder pt-2">

                    {% for img in product.gallery %}
                        <div imgId="{{ img.id }}" class="gallery-item">
                            <img src="{{ img.imageUrl }}" width="100%" height="100%">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="text-center" style="height: 420px;">
                <img id="productHighlightedPicture" src="{{ product.image }}" class="product-image"
                     width="100%">
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-info">{{ dict.remove }}</h3>
        <hr class="hr-dark">
    </div>
    <div>
        <p class="text-warning">ImgId: <span id="selectedImgToRemove"></span></p>
        <button type="button" id="removeImgBtn" class="btn btn-danger">{{ dict.remove }}</button>
    </div>

    <div>
        <h3 class="text-info">{{ dict._new }} {{ dict.image }}</h3>
        <hr class="hr-dark">
    </div>
    <div>
        <input type="file" id="imgGalleryFile">
        <br>
        <button type="button" class="btn btn-dark" id="uploadImageBtn">{{ dict.select }}</button>
    </div>

    <script src="/styles/js/product-details.js"></script>
    <script>
        $(function () { //set imgToRemoveId
            var IMAGE_FILE_SEND_NAME = 'imageFile';
            var productId = {{ product.id }};
            var header = '{{ _csrf.headerName }}';
            var token = '{{ _csrf.token }}';

            var idDisplayHolder = $('#selectedImgToRemove');
            var galleryItems = $('.gallery-item');
            var inputFile = $('#imgGalleryFile');
            var uploadBtn = $('#uploadImageBtn');
            var removeBtn = $('#removeImgBtn');

            var removeImgId = null;

            galleryItems.on('click', function (e) {
                var id = $(this).attr('imgId');
                idDisplayHolder.text(id);
                removeImgId = id;
            });

            removeBtn.on('click', function (e) {
                e.preventDefault();
                if (removeImgId == null || isNaN(removeImgId)) {
                    alert("Choose image!");
                    return;
                }
                if (!confirm("Remove image with id: " + removeImgId))
                    return;

                $.ajax({
                    method: "POST",
                    url: "/gallery/remove",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: {imageId: Number(removeImgId)},
                    success: function (data) {
                        alert(data["message"]);
                        location.reload();
                    },
                    error: function (err) {
                        alert(err["message"]);
                    }
                });
            });

            uploadBtn.on('click', function () {
                if(inputFile[0].files.length < 1){
                    alert("Select a file!");
                    return;
                }
                var formData = new FormData();
                formData.append(IMAGE_FILE_SEND_NAME, inputFile[0].files[0]);

                $.ajax({
                    method: "POST",
                    url: "/gallery/upload/"+productId,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        alert(data["message"]);
                        location.reload();
                    },
                    error: function (err) {
                        alert(err['responseJSON']["message"]);
                    }
                });

            });

        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="/styles/css/product-page.css">
{% endblock %}