{% extends '../base.html.twig' %}

{% block body %}
    <main class="">
        {% embed '../partials/home-slider.html.twig' with{'sliderItems':sliderItems} %} {% endembed %}
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1>{{ _csrf.parameterName }} {{ _csrf.token }} </h1>
                    <h1>has role Admin: <span style="background: rebeccapurple;">{{ informer.hasRole('ROLE_ADMIN') }}</span></h1>
                    <h1>has role Worker: <span style="background: rebeccapurple;">{{ informer.hasRole('ROLE_WORKER') }}</span></h1>
                    <h1>has role user: <span style="background: rebeccapurple;">{{ informer.hasRole('ROLE_USER') }}</span></h1>
                    <h1>is auth: <span style="background: rebeccapurple;">{{ informer.isAuthenticated() }}</span></h1>
                    {% if informer.user %}
                        <p> Hello, <strong>{{ informer.user.username }}</strong></p>
                    {% endif %}

                    {{ date.format(util.simpleFormat()) }} <br>
                    {{ dateOld|date("m/d/Y") }}
                </div>
                <div class="col-lg-3">
                    <h3 class="font-kirang-hearang">Sidebar</h3>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/styles/css/slider.css">
{% endblock %}