{% extends '../base.html.twig' %}

{% block body %}
    <main>
        {% embed '../partials/home-slider.html.twig' with{'sliderItems':sliderItems} %} {% endembed %}
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <section class="bg-gray popular-products-section p-1">
                        <div class="text-center">
                            <p class="font-2em">{{ dict.popularProducts }}</p>
                        </div>

                        <div class="row">
                            {% for product in trendingProducts %}
                                {% embed '../partials/products/regular-product-cart.html.twig' with {'product':product} %} {% endembed %}
                            {% endfor %}
                        </div>
                    </section>
                </div>
                {% embed '../partials/sidebar/sidebar.html.twig' %}
                    {% block sidebarBody %}
                        {% embed '../partials/sidebar/categories.html.twig' with {'title':dict.categories, 'categories':informer.getCategoriesToDisplay } %} {% endembed %}
                        {% embed '../partials/sidebar/products.html.twig' with {'products':informer.getNewProducts, 'title':dict.newProducts} %} {% endembed %}
                        <div class="sidebar-item">
                            <p class="font-15em">Dev_info</p>
                            <div>
                                <p>{{ _csrf.parameterName }} {{ _csrf.token }} </p>
                                <p>has role Admin: <span
                                            style="background: rebeccapurple; color: yellowgreen;">{{ informer.hasRole('ROLE_ADMIN') }}</span>
                                </p>
                                <p>has role Worker: <span
                                            style="background: rebeccapurple;color: yellowgreen;">{{ informer.hasRole('ROLE_WORKER') }}</span>
                                </p>
                                <p>has role user: <span
                                            style="background: rebeccapurple;color: yellowgreen;">{{ informer.hasRole('ROLE_USER') }}</span>
                                </p>
                                {% if informer.user %}
                                    <p> Hello, <strong>{{ informer.user.username }}</strong></p>
                                {% endif %}

                                {#{{ date.format(util.simpleFormat()) }} <br>#}
                                {#{{ dateOld|date("m/d/Y") }}#}
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/styles/css/slider.css">
{% endblock %}