{% extends '../base.html.twig' %}
{% block title %}{{ product.productName }}{% endblock %}
{% block body %}
    {% set product = viewModel.product %}
    {% embed '../partials/home-banner.html.twig' with {'title':product.brand.brandName } %} {% endembed %}
    <div class="container-fluid" style="max-width: 1350px;">
        <div class="row pt-3">
            <div class="col-lg-9 bg-gray pt-1 pb-1">
                <div class="text-center">
                    <a href="/">{{ dict.home }}</a>
                    {% for cat in viewModel.categories %} {% set catName = util.getLocalCategoryName(cat) %}
                        / <a href="/categories/{{ catName }}">{{ catName }}</a>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="text-center" style="min-height: 420px;">
                            <img id="productHighlightedPicture" src="{{ product.image }}" class="product-image"
                                 style="height: auto;">
                        </div>
                        {% if product.gallery|length > 0 %}
                            <div class="d-flex flex-wrap align-items-center justify-content-around gallery-images-holder pt-2">
                                <div class=" gallery-item"><img src="{{ product.image }}" width="100%" height="100%">
                                </div>
                                {% for img in product.gallery %}
                                    <div class="gallery-item"><img src="{{ img.imageUrl }}" width="100%" height="100%">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 border-dark pt-1 product-description-holder bg-white">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="font-weight-bold ">{{ product.productName }}</span>
                            </div>
                            <div class="col-sm font-2em text-info">
                                <span>${{ product.price|number_format(2, '.', ',') }}</span>
                            </div>
                        </div>
                        <hr class="bg-trans-gray">
                        <div class="row">
                            <div class="col-md-6">
                                <span><span class="text-muted"> {{ dict.brand }}</span>: <strong>{{ product.brand.brandName }}</strong></span>
                            </div>
                        </div>
                        <hr class="bg-trans-gray">
                        {% if product.description %}
                            <div class="row">
                                <div class="col-lg-9 ">
                                    <span class="text-muted raw-content">{{ product.description }}</span>
                                </div>
                            </div>
                            <hr class="bg-trans-gray">
                        {% endif %}
                        {% if product.size %}
                            <div class="row">
                                <div class="col-md-6">
                                    <span><span class="text-muted">Size: </span>{{ product.size }}</span>
                                </div>
                            </div>
                            <hr class="bg-trans-gray">
                        {% endif %}
                        <div class="row">
                            <div class="col-sm">
                                <input type="number" id="orderQuantity" value="1" class="form-control">
                            </div>
                            <div class="col-sm"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <button id="orderBtn" class="orderBtn btn btn-dark">{{ dict.buy }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="bg-gray similar-products-section p-1">
                    <div class="text-center">
                        <p class="font-2em">{{ dict.similarProducts }}</p>
                    </div>

                    <div class="row">
                        {% set count = 0 %}
                        {% for product in viewModel.similarProducts %}
                            {% if count < 3 %}
                                {% embed '../partials/products/regular-product-cart.html.twig' with {'product':product} %}
                                    {% block disableBuyBtn %} {% endblock %}
                                {% endembed %}
                            {% endif %}
                            {% set count = count + 1 %}
                        {% endfor %}
                    </div>
                </section>
            </div>
            {% embed '../partials/sidebar/sidebar.html.twig' %}
                {% block sidebarBody %}
                    {% embed '../partials/sidebar/products.html.twig' with {'products':viewModel.similarProducts, 'title':dict.similarProducts} %}{% endembed %}
                    {% embed '../partials/sidebar/products.html.twig' with {'products':informer.getNewProducts, 'title':dict.newProducts} %} {% endembed %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="/styles/css/product-page.css">
{% endblock %}
{% block javascripts %}
    <script src="/styles/js/product-details.js"></script>
    <script>
        $(function () {
            viewProduct();
            var header = '{{_csrf.headerName}}';
            var token = '{{_csrf.token}}';

            function viewProduct() {
                document.onreadystatechange = function () {
                    setTimeout(function () {
                        $.ajax({
                            type:"POST",
                            url:'/products/view/{{ product.id }}',
                            data: token,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success:function (data) {
                                console.log(data);
                            },
                            error:console.error
                        });
                    }, 3000);
                };
            }
        })
    </script>
{% endblock %}