{% extends '../index.twig' %}

{% block title %}Review Order {% endblock %}

{% block userBody %}
    <div>
        <h3 class="text-info">{{ dict.edit }} {{ viewModel.order.id }}</h3>
        <a href="/users/profile">{{ dict.back }}</a>
        <hr class="hr-dark">
    </div>
    <h1>Status:
        <small class="text-muted">{{ viewModel.order.orderStatus.name() }}</small>
    </h1>
    <h2>{{ dict.products }} (<small>{{ viewModel.shoppingCart|length }}</small>)</h2>
    <hr class="hr-dark">
    <section>
        {% for prodItem in viewModel.shoppingCart %}
            <div class="rounded bg-trans-gray p-2 mt-1">
                <h5><a href="/products/{{ prodItem.product.id }}"
                       class="text-info">{{ prodItem.product.productName }}</a></h5>
                <p class="text-muted">{{ dict.requested }}: {{ prodItem.quantity }}, {{ dict.quantity }}
                    : {{ prodItem.product.quantity }}</p>
                <small>{{ prodItem.calcTotal }}</small>
            </div>
        {% endfor %}
    </section>
    <h2>{{ dict.address }}</h2>
    <hr class="hr-dark">
    <section>
        <div class="rounded bg-trans-gray p-2 mt-1">
            {% set address = viewModel.order.address %}
            <p>{{ dict.username }}: <a href="/users/show/{{ address.user.id }}">{{ address.user.username }}</a></p>
            <p>{{ dict.name }}: {{ address.fullName }}</p>
            <p>{{ dict.phoneNumber }}: {{ address.phoneNumber }}</p>
            <p>{{ dict.address }}: {{ address.address }}</p>
        </div>
    </section>
    <h2>{{ dict.price }}: <strong class="text-info">{{ viewModel.order.totalPrice }}</strong></h2>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#confirmOrderBtn').on('click', function (e) {
                if(!confirm("Confirming order will adjust product quantities, proceed?"))
                    e.preventDefault();
            }) ;
            $('#rejectOrderBtn').on('click', function (e) {
                if(!confirm("Rejecting order cannot be undone, proceed?"))
                    e.preventDefault();
            }) ;
        });
    </script>
{% endblock %}