<div class="d-flex align-items-xl-center align-items-center justify-content-start mt-1 side-product">
    <div class="side-product-image d-flex align-items-center p-1">
        <a href="/products/{{ product.id }}"><img src="{{ product.image }}" style="max-width: 70px; max-height: 70px;"></a>
    </div>
    <div class="side-product-content p-1">
        <a style="color: inherit;" href="/products/{{ product.id }}"><small class="">{{ product.productName }}</small></a>
        <hr class="hr-dark m-0">
        <small><b>{{ product.brand.brandName }}</b></small>
    </div>
</div>