{% extends '../base.html.twig' %}

{% block body %}
    <main>
        {% embed '../partials/home-banner.html.twig' with {'title':"Workers' panel" } %} {% endembed %}
        <div class="container">
            <div class="row">
                {% embed '../partials/sidebar/sidebar.html.twig' %}
                    {% block sidebarBody %}
                        <div class="sidebar-item">
                            <p class="font-15em">{{ dict.brands }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/brands/create">{{ dict._new }} {{ dict.brand }}</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/brands/find-for-edit">{{ dict.brand }}: {{ dict.edit }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-item">
                            <p class="font-15em">{{ dict.categories }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/categories/create">{{ dict._new }} {{ dict.category }}</a></li>
                                <li class="list-group-item"><a href="/categories/edit/select">{{ dict.category }}: {{ dict.edit }}</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-item">
                            <p class="font-15em">{{ dict.products }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/products/create">{{ dict._new }} {{ dict.product }}</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-item">
                            <p class="font-15em">{{ dict.banner }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/banners/create">{{ dict.newBanner }}</a></li>
                                <li class="list-group-item"><a href="/banners/edit-list">{{ dict.banner }}: {{ dict.edit }}</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-item">
                            <p class="font-15em">{{ dict.orders }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/orders/all">{{ dict.all }} {{ dict.orders }}</a></li>
                                <li class="list-group-item"><a href="/orders/awaiting">Awaiting</a></li>
                                <li class="list-group-item"><a href="/orders/rejected">Rejected</a></li>
                                <li class="list-group-item"><a href="/orders/accepted">Accepted</a></li>
                            </ul>
                        </div>
                    {% endblock %}
                {% endembed %}
                <div class="col-lg-9" id="section-content" style="display:none;">
                    {% block workerBody %}
                        <h3 class="alert alert-warning">Select option from the menu</h3>
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <script>
        $(function () {
            $('#section-content').fadeIn(300);
        });
    </script>
{% endblock %}
