{% extends '../base.html.twig' %}

{% block body %}
    <main>
        {% embed '../partials/home-banner.html.twig' with {'title':"Workers' panel" } %} {% endembed %}
        <div class="container">
            <div class="row">
                {% embed '../partials/sidebar/sidebar.html.twig' %}
                    {% block sidebarBody %}
                        <div class="sidebar-item">
                            <p class="font-15em">{{ dict.brands }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/brands/create-q"
                                                               class="clickable-sidebar-menu">{{ dict._new }} {{ dict.brand }}</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/brands/find-for-edit" class="clickable-sidebar-menu">
                                        {{ dict.brand }}: {{ dict.edit }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-item">
                            <p class="font-15em">{{ dict.categories }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/brands/create"
                                                               class="clickable-sidebar-menu">{{ dict._new }} {{ dict.brand }}</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/brands/find-for-edit" class="clickable-sidebar-menu">
                                        {{ dict.brand }}: {{ dict.edit }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endblock %}
                {% endembed %}
                <div class="col-lg-9" id="section-content">

                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var holder = $('#section-content');

            $('.clickable-sidebar-menu').on('click', function (e) {
                var ctx = $(this);
                e.preventDefault();
                var href = ctx.attr('href');

                workersController.callGetRequest(href, holder);
            });
        });

        var workersController = (function () {
            function callGetRequest(url, destinationElement) {
                $.ajax({
                    method: "GET",
                    url: url,
                    success: function (html) {
                        destinationElement.hide();
                        destinationElement.html(html);
                        destinationElement.fadeIn(300);
                    },
                    error: console.error
                });
            }

            return {callGetRequest: callGetRequest};
        })();

    </script>
{% endblock %}